@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
:root {
    --bacground-color:#171823;
    --boxColors:#25273D;
    --letterColors:#C8CBE7;
    --underlineColor:#393A4B;
    --footerColor:#5B5E7E;
    --githubColor:#fff;
}
body {
    background-color:var(--bacground-color); 
}

.container {
    display: grid;
    place-items: center;
}
header {
    width: 100%;
    height: 200px;
    background: linear-gradient(135deg, #3710BD 0%, #A42395 100%);
    display: flex;
    justify-content: center;
    place-items: center;
    column-gap: 185px;
}
.hh1 {
   margin-top: -70px;
   color: #FFF;
   font-family: Josefin Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 15px;
}
.Sun {
    margin-top: -74px;
    cursor: pointer;
}
input[type=text]{
    width: 327px;
    height: 48px;
    border-radius: 5px;
    background: var(--boxColors);
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
    border: none;
    outline: none;
    position: absolute;
    margin-left: -165px;
    margin-top: -100px;
}
.inputText {
    text-align:bottom 0px;padding-left:40px;
    color: #767992;
    font-family: Josefin Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.167px;
}
.ListBackgroun {
    margin-top: 40px;
    width: 327px;
    height: 100%;
    border-radius: 5px;
    background: var(--boxColors);
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
}
.underline {
    width: 327px;
    height: 1px;
    background: var(--underlineColor);
}
ul li {
    list-style: none;
    font-size: 15px;
    padding: 25px 8px 22px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: var(--letterColors);
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.167px;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-image: url(/assets/UncheckedCircle.svg);
    background-size: cover;
    background-position: center;
    top: 20px;
    left: 8px;
}
ul li span {
    position: absolute;
    right: 0;
    top: 11px;
    width: 70px;
    height: 30px;
    font-size: 32px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.underTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 327px;
    height: 48px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--boxColors);
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
    column-gap: 138px;
    margin-top: -15px;
}
.UTh1 {
    color: var(--footerColor);
    cursor: pointer;
    font-family: Josefin Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.167px;
}
.UTh1:hover {
    color: #3A7CFD;
}
ul li.checked {
    color: #393A4B;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/assets/CheckedSign.svg);
}
.lastBox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-top: 16px;
    width: 327px;
    height: 48px;
    border-radius: 5px;
    background: var(--boxColors);
}
.LB1 {
    cursor: pointer;
    color: var(--footerColor);
    font-family: Josefin Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.194px;
}
.LB1:hover{
    color: #3A7CFD;
}
footer {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 90px;
    color: var(--letterColors);
    text-align: center;
    font-family: Josefin Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.194px;
}
footer:hover {
    color: #3A7CFD;
}
.light-mode{
    --bacground-color:#FAFAFA;
    --boxColors:#FFF;
    --letterColors:#494C6B;
    --underlineColor:#E3E4F1;
    --footerColor:#9495A5;
    --githubColor:black;
    transition: 1.5s;
}
.socials {
    margin-top: 50px;
    column-gap: 30px;
    display: grid;
    place-items: center;
    grid-template-areas: 'erti ori';
}
#Linkedin {
    font-size: 25px;
    grid-area: erti;
    color: #3A7CFD;
}
#Github {
    font-size: 25px;
    grid-area: ori;
    color:var(--githubColor);
}
#Linkedin:hover{
    color: #0d55e6;;
}
#Github:hover {
    background: linear-gradient(135deg, #3710BD 0%, #A42395 100%);
    border-radius: 50%;
}